<fieldset>
    {{> datafield_admin/basicfields }}
    {{> mod_data/fields/requiredfield }}

    <!-- Template for inputformat field -->
    <div class="form-group row fitem">
        <div class="col-md-3">
            <label for="param1" class="mb-0">{{param1_label}}</label>
            {{#param1_helpicon}}{{{param1_helpicon}}}{{/param1_helpicon}}
        </div>
        <div class="col-md-9 form-inline align-items-start felement">
            <textarea id="id_param1" name="param1" class="widetext" rows="2">{{param1}}</textarea>
        </div>
    </div>

    <!-- Template for outputformat field -->
    <div class="form-group row fitem">
        <div class="col-md-3">
            <label for="param2" class="mb-0">{{param2_label}}</label>
            {{#param2_helpicon}}{{{param2_helpicon}}}{{/param2_helpicon}}
        </div>
        <div class="col-md-9 form-inline align-items-start felement">
            <textarea id="id_param2" name="param2" class="widetext" rows="2">{{param2}}</textarea>
        </div>
    </div>

    <!-- Template for extraformat1 field -->
    <div class="form-group row fitem">
        <div class="col-md-3">
            <label for="param3" class="mb-0">{{param3_label}}</label>
            {{#param3_helpicon}}{{{param3_helpicon}}}{{/param3_helpicon}}
        </div>
        <div class="col-md-9 form-inline align-items-start felement">
            <textarea id="id_param3" name="param3" class="widetext" rows="2">{{param3}}</textarea>
        </div>
    </div>

    <!-- Template for extraformat2 field -->
    <div class="form-group row fitem">
        <div class="col-md-3">
            <label for="param4" class="mb-0">{{param4_label}}</label>
            {{#param4_helpicon}}{{{param4_helpicon}}}{{/param4_helpicon}}
        </div>
        <div class="col-md-9 form-inline align-items-start felement">
            <textarea id="id_param4" name="param4" class="widetext" rows="2">{{param4}}</textarea>
        </div>
    </div>

    <!-- Template for restoretype field -->
    <div class="form-group row fitem">
        <div class="col-md-3">
            <label for="param5" class="mb-0">{{param5_label}}</label>
            {{#param5_helpicon}}{{{param5_helpicon}}}{{/param5_helpicon}}
        </div>
        <div class="col-md-9 form-inline align-items-start felement">
            <select id="param5" class="select custom-select form-control" name="param5">
                {{#restoretypes}}
                    <option value="{{value}}" {{#selected}}selected{{/selected}}>{{text}}</option>
                {{/restoretypes}}
            </select>
        </div>
    </div>

    <!-- Template for restoretype field -->
    <div class="form-group row fitem">
        <div class="col">{{{minimanual}}}</div>
    </div>
</fieldset>
